<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>OpenCellID</title>
<meta name="keywords" content="opencellid,cell,cellid,phone" />
<meta name="description" content="OpenSource database of cell id" />
<%= stylesheet_link_tag 'style', :media => 'all' %>
<%= javascript_include_tag :defaults %>
<% if @map %>
<script src="http://maps.google.com/maps?file=api&v=2&key=<%= MAP_API_KEY -%>" type="text/javascript"></script>
<%= javascript_include_tag 'mapstraction' %>
<% end %>
</head>
<body>
<div id="wrapper">
	<div id="wrapper2">
		<div id="header">

			<div id="logo">
				<h1>OpenCellId</h1>
			</div>
			<div id="menu">
				<ul>
                    <li><%= link_to "About", {:controller=>"users", :action=>"staticShow",:id=>"about" } %></li> 
                    <li><%= link_to "Stats", {:controller=>"cell", :action=>"stats"} %></li> 
                    <li><%= link_to "Download", {:controller=>"users", :action=>"staticShow",:id=>"download" } %></li> 
                    <li><%= link_to "Api", {:controller=>"users", :action=>"staticShow",:id=>"api" } %></li> 
                    <li><%= link_to "Browse cells", {:controller=>"cell", :action=>"list" } %></li> 
                    <li><%= link_to "Cells Map", {:controller=>"cell", :action=>"map" } %></li> 
                    <li><%= link_to "Raw data", "http://myApp.fr/cellIdData"  %></li> 
				</ul>
			</div>
		</div>
		<!-- end #header -->


		<% if flash[:notice] %>
				<div id="notice"><%= flash[:notice] %><br/></div>
		<%end%>
		
				<div id="page">
			<div id="content">
				<div class="post">
<%= @content_for_layout %>
				</div>
			</div>
			<!-- end #content -->
		<div id="sidebar">

			</div>
			<!-- end #sidebar -->
			<div style="clear: both; visible:none">&nbsp;</div>

			<div id="widebar">

			<a href="mailto:t.landspurg@8motions.com>Contact</a>
			</div>
			<!-- end #widebar -->
		</div>
		<!-- end #page -->
	</div>
	<!-- end #wrapper2 -->

	<div id="footer">
		<p><a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a> <a href=http://www.8motions.com>(c) 2008 8Motions</a></p>
	</div>
</div>
<% if ENV["RAILS_ENV"]=='production' %>	
<!-- Start of StatCounter Code -->
<script type="text/javascript">
sc_project=3572878; 
sc_invisible=1; 
sc_partition=41; 
sc_security="d52ee7be"; 
</script>

<script type="text/javascript" src="http://www.statcounter.com/counter/counter_xhtml.js"></script><noscript><div class="statcounter"><a href="http://www.statcounter.com/free_web_stats.html" target="_blank"><img class="statcounter" src="http://c42.statcounter.com/3572878/0/d52ee7be/1/" alt="website statistics" ></a></div></noscript>
<!-- End of StatCounter Code -->
<% end -%>
<!-- end #wrapper -->
</body>
</html>