To add more cells into the database, you can download a Java application for your mobile phone.

<ul><li>
 <a href=http://www.8motions.com>8motions</a> <br/>
<br/>
<img src=http://www.8motions.com/snapshots/SeveralSnapshots.jpg /><br/>

You can point directly your mobile browser at <a href=http://m.8motions.com>http://m.8motions.com</a>.
While the application works on most of MIDP2.0 phone, the integration with OpenCellID will only for SonyEricsson phones and an external bluetooth receiver..
<br/>
</li>
<br/>
<li>
Another client is <A href=http://www.watchee.net>Watchee</a>, and here is the <a href=http://watchee.net/j>the direct download link</a>.
Enjoy!</li><br/>

<li><a href="http://phonelocator.mobi">Phonelocator</A> is a native S60 realtime GPS tracking application for Nokia S60 phones developed by <a href="http://www.birkett-enterprise.com">Birkett Enterprise Ltd</a>. It allows you to view the
location of your phone and a trail of where it has been using this website. Phonelocator has advanced features like "Intelligent Update" that
reduces the amount of data sent by the application and "Battery Saver" that turns off the GPS when the phone is stationary or the GPS signal is
too weak. Phonelocator can be run in the background and started when your phone is booted.
</li><br/>

<li> For Windows Mobile, you can try <a href=http://dalelane.co.uk/blog/?p=241> Dale Lane </a> client.</li>
<br/>

New: for Blackberry, you can use <a href="http://www.handango.com/catalog/ProductDetails.jsp?storeId=2218&deviceId=1174&platformId=40&productId=242952">WhereAmI</a>
<br/>

</ul>
More client will be availables soon...