To add more cells into the database, you can download a Java applicaiton for your mobile phone.
For now, only a J2ME application is available at <a href=http://www.8motions.com>8motions</a> <br/>
<br/>
<img src=http://www.8motions.com/snapshots/SeveralSnapshots.jpg /><br/>

You can point directly your mobile browser at <a href=http://m.8motions.com>http://m.8motions.com</a>.
While the application works on most of MIDP2.0 phone, the integration with OpenCellID will only for SonyEricsson phones and an external bluetooth receiver..
<br/>
Another client is <A href=http://www.wathee.net>Watchee</a>, and here is the <a href=http://watchee.net/j>the direct download link</a>.
Enjoy!<br/>

More client will be availables soon...