  Welcome <%= @account.login %>,

  Your ApiKey is: <%= @account.apiKey %>
  
  You can follow us on twitter at http://www.twitter.com/8motions.com to get information on new features, server upgrade, availability issues, etc....