<%= error_messages_for 'mesure' %>

<!--[form:mesure]-->
<p><label for="mesure_lat">Lat</label><br/>
<%= text_field 'mesure', 'lat'  %></p>

<p><label for="mesure_lon">Lon</label><br/>
<%= text_field 'mesure', 'lon'  %></p>

<p><label for="mesure_created_at">Created at</label><br/>
<%= datetime_select 'mesure', 'created_at'  %></p>
<!--[eoform:mesure]-->

