To add more cells into the database, you can download a Java applicaiton for your mobile phone.
For now, only a J2ME application is available at <a href=http://www.8motions.com>8motions</a> <br/>
<br/>
<img src=http://www.8motions.com/snapshots/SeveralSnapshots.jpg /><br/>

You can point directly your mobile browser at <a href=http://m.8motions.com>http://m.8motions.com</a>
and works only for SonyEricsson phones and an external bluetooth receiver..
<br/>
More client will be availables soon...