<%= error_messages_for 'operators' %>

<!--[form:operators]-->
<p><label for="operators_name">Name</label><br/>
<%= text_field 'operators', 'name'  %></p>

<p><label for="operators_mcc">Mcc</label><br/>
<%= text_field 'operators', 'mcc'  %></p>

<p><label for="operators_mnc">Mnc</label><br/>
<%= text_field 'operators', 'mnc'  %></p>

<p><label for="operators_country">Country</label><br/>
<%= text_field 'operators', 'country'  %></p>
<!--[eoform:operators]-->

