<%= error_messages_for 'measure' %>

<!--[form:measure]-->
<p><label for="measure_lat">Lat</label><br/>
<%= text_field 'measure', 'lat'  %></p>

<p><label for="measure_lon">Lon</label><br/>
<%= text_field 'measure', 'lon'  %></p>

<p><label for="measure_created_at">Created at</label><br/>
<%= datetime_select 'measure', 'created_at'  %></p>
<!--[eoform:measure]-->

